
@{
    Layout = null;

}

@using MollaLibraryAPI.PessoaFisica;
@using Aplicacao.Models.COMMON;
@using Aplicacao.Models.ENTITY;

@{
    Layout = null;

    //var usuario = values.PRP_UsuarioAutenticadoSite.PRP_DadosCadastrais;
    //var complemento = values.PRP_UsuarioAutenticadoSiteComplemento;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sanofi</title>
    <style>
        body, html {
            padding: 0;
            margin: 0;
            background-color: #000;
            display: flex;
            height: 100%;
            width: 100%;
        }

        div {
            margin: auto;
        }

        h1 {
            color: #fff;
            font-family: 'Arial';
            font-size: 50px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Aguarde!</h1>
    </div>
</body>
</html>

