@{
ViewBag.Title = "Campanha";
Layout = "~/Views/Shared/_SiteSharedNew.cshtml";
}
<div class="body">
    <div id="page-campanha" role="main" class="main px-2">

        <section class="section section-no-border section-light mb-0">
            <div class="container">
                <div class="row mx-auto align-items-center">
                    <div class="col-12 col-md">
                        <h1 class="font-weight-bold text-color-primary mb-3">Campanha anual</h1>

                        
                        <div class="text-center">
                            <p class="text-5">EM 2021, VOCÊ ESTÁ NO CONTROLE!​</p>

                            <p class="text-4 mb-0">Preparado para maratonar suas vendas?​</p>
                            <p class="text-4">Consulte o regulamento para ver todos os detalhes da mecânica de vendas.​</p>

                            <br>

                            <p class="text-5 mb-2">Premiação:​</p>
                            <p class="text-4">Semestral: será divulgada em breve​</p>

                            <p class="text-4">Anual: viagem com acompanhante <br> (o destino será decidido por você em votação)​</p>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md">
                        <img src="https://via.placeholder.com/400" class="img-fluid">
                    </div> -->
                </div>
            </div>
        </section>

        <!-- <section class="my-5">
            <hr>
            <h2 class="text-center text-8 font-italic font-weight-light text-color-primary pb-3">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Repellendus, maxime!</h2>
        </section> -->
    </div>
</div>


