@{
ViewBag.Title = "Campanha";
Layout = "~/Views/Shared/_SiteSharedNew.cshtml";
}
<div class="body">
    <div id="page-campanha" role="main" class="main px-2">

        <section class="section section-no-border section-light mb-0">
            <div class="container">
                <div class="row mx-auto align-items-center">
                    <div class="col-12 col-md-9">
                        <h1 class="font-weight-bold text-color-primary mb-3">Campanha</h1>
                        <p class="text-5 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda hic odit nesciunt modi ipsa. Saepe alias reprehenderit, accusantium doloremque incidunt consectetur autem labore excepturi consequatur nostrum quibusdam corrupti error atque sint nam maiores perspiciatis dicta nisi, optio. Sapiente maxime officiis ipsam nam, repudiandae ipsum ullam, incidunt. Facere earum illum corporis?</p>
                    </div>
                    <div class="col-12 col-md">
                        <img src="https://via.placeholder.com/400" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>

        <section class="my-5">
            <hr>
            <h2 class="text-center text-8 font-italic font-weight-light text-color-primary pb-3">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Repellendus, maxime!</h2>
        </section>
    </div>
</div>


