@{
ViewBag.Title = "Campanha";
Layout = "~/Views/Shared/_SiteSharedNew.cshtml";
}
<div class="body">
    <div id="page-campanha" role="main" class="main px-2">

        <section class="section section-no-border section-light mb-0">
            <div class="container">
                <div class="row mx-auto align-items-center">
                    <div class="col-12 col-md">
                        <!-- <h1 class="font-weight-bold text-color-primary mb-3">Campanha anual</h1> -->
                        
                        <div>
                            <p class="text-6 font-weight-bold mb-2 text-center text-blue">EM 2021, VOCÊ ESTÁ NO CONTROLE!​</p>
                            <p class="text-4 line-height-2 text-center">Preparado para maratonar suas vendas? ​<br> Então, confira as regras da campanha!​</p>

                            <div class="col-lg-11 mx-auto mt-5">
                                <div class="row mx-auto">
                                    <div class="col-md-6">
                                        <p class="text-5 mb-0 text-blue">PERÍODO​</p>
                                        <p class="text-4">Q1’21 a Q4’21​</p>
                                        
                                        <p class="text-5 mb-0 text-blue">PARTICIPANTES</p>
                                        <p class="text-4">todos os times de vendas</p>

                                        <p class="text-5 mb-0 text-blue">CRITÉRIOS DE AVALIAÇÃO​</p>
                                        <ul class="pl-4">
                                            <li class="text-4">Q1’21: somente payout (todos os times)</li>
                                            <li class="text-4">Q2 a Q4’21: payout + execução que varia de acordo com o time (a ser divulgado ainda)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="text-5 mb-0 text-blue">DESEMPATE</p>
                                        <p class="text-4 mb-0">Maior cobertura de cota (demanda vs. cota)​</p>
                                        <p class="text-4 mb-0">Pontuação de payout calculado pelo prêmio teórico</p>
                                        <p class="text-4">E mais: as campanhas extras dos times poderão valer 10 pontos adicionais​</p>

                                        <p class="text-5 mb-0 text-blue">PREMIAÇÃO</p>
                                        <ul class="pl-4">
                                            <li class="text-4">H1: será divulgada em breve</li>
                                            <li class="text-4">Anual: viagem com acompanhante​ (o destino será decidido por você em votação)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md">
                        <img src="https://via.placeholder.com/400" class="img-fluid">
                    </div> -->
                </div>
            </div>
        </section>

        <!-- <section class="my-5">
            <hr>
            <h2 class="text-center text-8 font-italic font-weight-light text-color-primary pb-3">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Repellendus, maxime!</h2>
        </section> -->
    </div>
</div>


