@{
    ViewBag.Title = "Novidades";
    Layout = "~/Views/Shared/_SiteSharedNew.cshtml";
}
<div class="body">
	<div role="main" class="main">
		<section class="section section-no-border section-light mb-0 mt-0s">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="font-weight-bold text-color-primary mb-0">Novidades</h1>
						<!-- <h4 class="font-weight-bold text-color-quaternary">One is for you</h4> -->
						<p class="text-4">Fique por dentro de tudo que acontece em campo e fora dele.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section section-center section-no-border m-0">
			<div class="container">
				<div class="row justify-content-start mb-4 mb-md-0 mb-lg-5">
					<div class="col-md-8 col-lg-4 mb-3">
						<span class="thumb-info custom-thumb-info-2 thumb-info-hide-wrapper-bg">
							<span class="thumb-info-wrapper new-height m-0">
								<img src="~/Content/img/img-punta-cana-04.jpg" class="img-fluid" height="10" alt="">
							</span>
							<span class="thumb-info-caption bg-color-light text-center p-5">
								<h4 class="font-weight-bold text-color-quaternary mb-3">Nosso destino:<br>Punta Cana</h4>
								<p class="text-color-dark p-0 font-weight-bold">Data: 10/03</p>
								<p class="text-color-dark p-0">No lançamento da campanha, uma votação online elegeu o destino da nossa premiação.</p>
								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" title="Saiba mais" data-toggle="modal" data-target="#modalDestino">Saiba mais</a>
							</span>
						</span>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDestino" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
  	<div class="modal-content rounded-0">
      <div class="modal-header border-0">

        <h5 class="h3 modal-title font-weight-bold mx-auto">Punta Cana</h5>
        <button type="button" class="mx-0 close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true" class="font-weight-light"> x </span>
        </button>

      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-12 col-md">
        		<img src="~/Content/img/img-punta-cana-04.jpg" class="img-fluid w-100">
        	</div>
        	<div class="col-12 col-md">
        		<h2 class="text-color-dark text-center font-weight-extra-bold text-4 mb-0">Nós já registramos aqui o destino mais votado por vocês!!!</h2>

        		<p>No dia 10 de Março, durante o Webmeeting, a maioria de vocês escolheu como prêmio da campanha a belíssima Punta Cana.</p>
        		<p>57% dos votos foram para essa cidade encantadora, que agora já está definida como o nosso destino final, no encerramento da campanha. É pra lá que você vai decolar após cumprir os desafios!</p>
        		<p>Agradecemos a todos pelos votos, com certeza esse destino incrível vai estar registrado na memória de muita gente no ano que vem, e que esse lugar inspirador sirva para te dar ainda mais ânimo para superar todos os grandes desafios que teremos pela frente nesse ano.</p>
        		<p class="text-color-dark font-weight-extra-bold">Partiu Punta Cana!</p>
        	</div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div> -->
    </div>
  </div>
</div>

