@{
    ViewBag.Title = "Novidades";
    Layout = "~/Views/Shared/_SiteSharedNew.cshtml";
}
<div class="body">
	<div role="main" class="main">
		<section class="section section-no-border section-light mb-0 mt-0s">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="font-weight-bold text-color-primary mb-0">Fique por dentro</h1>
						<p class="text-4">Aqui você acompanhar todas as novidades relacionadas à campanha!</p>
					</div>
				</div>
			</div>
		</section>

		<section class="section section-center section-no-border m-0">
			<div class="container">
				<div class="row justify-content-start mb-4 mb-md-0 mb-lg-5">
					<div class="col-md-8 col-lg-4 mb-3">
						<span class="thumb-info custom-thumb-info-2 thumb-info-hide-wrapper-bg">
							<span class="thumb-info-wrapper new-height m-0">
								<img src="~/Content/img/BG_SAN149.png" class="img-fluid" height="10">
							</span>
							<span class="thumb-info-caption bg-color-light text-center pt-3 px-5 pb-5">
								<h4 class="font-weight-bold text-color-quaternary mb-3">VOCÊ VOTOU E DECIDIU</h4>
								<!-- <p class="text-color-dark p-0 font-weight-bold">Data: 10/03</p> -->
								<p class="text-color-dark line-height-2 p-0 mb-2">Começamos o ano mostrando quem está no controle!</p>

								<p class="text-color-dark line-height-2 p-0 mb-2">E você deu play para decidir como quer que seja a premiação anual.</p>

								<p class="text-color-dark line-height-2 p-0 mb-2">Venha conferir o resultado da pesquisa.</p>
								
								<a href="#" class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" title="Saiba mais" data-toggle="modal" data-target="#modalDestino">Saiba mais</a>
							</span>
						</span>
					</div>

					<div class="col-md-8 col-lg-4 mb-3">
						<span class="thumb-info custom-thumb-info-2 thumb-info-hide-wrapper-bg">
							<span class="thumb-info-wrapper new-height m-0">
								<img src="~/Content/img/banner-vencedores.jpg" class="img-fluid" style="height:200px;object-fit:cover;">
							</span>
							<span class="thumb-info-caption bg-color-light text-center pt-3 px-4 pb-5">
								<h4 class="font-weight-bold text-color-quaternary mb-3">CONHEÇA OS VENCEDORES DA CAMPANHA 2020​</h4>

								<p class="text-color-dark line-height-2 py-4 mb-2">Parabéns!​</p>
								
								<a href="~/Content/pdf/Divulgacao-Vencedores-Craques.pdf" target="_blank" class="btn btn-primary custom-btn-style-1 text-uppercase text-color-light custom-font-weight-medium" title="Saiba mais">Saiba mais</a>
							</span>
						</span>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDestino" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<div class="modal-content rounded-0">
      <div class="modal-header border-0">

        <h5 class="h3 modal-title font-weight-bold mx-auto">VOCÊ VOTOU E DECIDIU</h5>
        <button type="button" class="mx-0 close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true" class="font-weight-light"> x </span>
        </button>

      </div>
      <div class="modal-body">
      	<p class="text-4 text-uppercase">Total de participantes: 831</p>

      	<div class="col-md-9 mx-auto mb-3">
	        <div class="table-responsive">
	        	<table class="table table-bordered" style="color:#777;">
		        	<thead>
		        	  <tr>
		        	    <th></th>
		        	    <th class="text-center text-4">% </th>
		        	  </tr>
		        	</thead>
		        	<tbody>
		        	  <tr>
		        	    <td class="text-4">CHC </td>
		        	    <td class="text-4">30.32% </td>
		        	  </tr>
		        	  <tr>
		        	    <td class="text-4">GENZYME </td>
		        	    <td class="text-4">7.46% </td>
		        	  </tr>
		        	  <tr>
		        	    <td class="text-4">PASTEUR </td>
		        	    <td class="text-4">2.05% </td>
		        	  </tr>
		        	  <tr>
		        	    <td class="text-4">GENMED COMERCIAL </td>
		        	    <td class="text-4">17.09% </td>
		        	  </tr>
		        	  <tr>
		        	    <td class="text-4">GENMED PROMO MED </td>
		        	    <td class="text-4">43.08% </td>
		        	  </tr>
		        	</tbody>
	        	</table>
	        </div>
	    </div>

        <p class="text-4 text-uppercase"><span class="font-weight-bold">73%</span> quer viajar com acompanhante.​</p>
        <p class="text-4 text-uppercase"><span class="font-weight-bold">60%</span> quer viajar em grupos menores, tendo a opção de definir o local.​</p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div> -->
    </div>
  </div>
</div>

