@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/SiteShared.cshtml";
}
<div class="body">
    <div role="main" id="page-ranking" class="main">
        <section class="section section-no-border section-light mb-0 mt-0s">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="font-weight-bold text-color-primary mb-0">Ranking</h1>
                        <!-- <h4 class="font-weight-bold text-color-quaternary">One is for you</h4> -->
                        <p class="text-4">Confira o ranking da campanha e sua classificação. Conquiste seu lugar entre os ganhadores.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section bg-gray section-center section-no-border m-0">
            <div class="container">

                <div class="tabs">
                    <ul class="nav nav-tabs nav-justified flex-column flex-md-row">
                        <li class="nav-item active">
                            <a class="nav-link show active" href="#semestral" data-toggle="tab">Semestral</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link user-iteration-none" href="#anual" data-toggle="tab">Anual</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="semestral" class="tab-pane active show">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Posição
                                            </th>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Pontos
                                            </th>
                                            <th>
                                                Desempate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tabela-ranking-semestral">
                                        @* Mensagem de Carregamento. Sai automaticamente após o término da chamada de desempenho *@
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="pt-4 mb-0">
                                            <div class="d-flex justify-content-center va-middle mb-0">
                                                <p class="mb-0 pt-4">Carregando...&nbsp;&nbsp;&nbsp;</p>
                                                <img src="~/Content/img/loader/loader-ball.gif" width="50"/>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="anual" class="tab-pane">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Ranking
                                            </th>
                                            <th>
                                                Nome
                                            </th>
                                            <th>
                                                Pontos
                                            </th>
                                            <th>
                                                Desempate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                XXXX
                                            </td>
                                            <td>
                                                300
                                            </td>
                                            <td>
                                                162%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                XXXX
                                            </td>
                                            <td>
                                                200
                                            </td>
                                            <td>
                                                130%
                                            </td>
                                        </tr>
                                        <tr class="bg-warning">
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                Rafael
                                            </td>
                                            <td>
                                                180
                                            </td>
                                            <td>
                                                128%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                4
                                            </td>
                                            <td>
                                                XXXX
                                            </td>
                                            <td>
                                                90
                                            </td>
                                            <td>
                                                120%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
</div>

<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/scripts/ranking.js"></script>