@{
    Layout = null;
}
<!DOCTYPE html>
<html class="fixed">
<head>
    <meta charset="UTF-8">
    <title>Campanha Play To Win - Login</title>
    <meta name="keywords" content="Sanofi" />
    <meta name="description" content="Sanofi">
    <meta name="author" content="agenciamolla.com.br">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9NEFWXQYFC"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="~/Content/vendor/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Content/css/theme-admin.css" />
    <link rel="stylesheet" href="~/Content/css/default-admin.css" />
    <link rel="stylesheet" href="~/Content/css/custom.css">
    <link rel="stylesheet" href="~/Content/vendor/icofont/icofont.css">
    <script src="~/Content/vendor/modernizr/modernizr.min.js"></script>
</head>
<body id="login">
    <div>
        @RenderBody()
    </div>

    <!-- Vendor -->
    <script src="~/Content/vendor/jquery/jquery.js"></script>
    <script src="~/Content/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/Content/vendor/popper/umd/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/vendor/common/common.js"></script>
    <script src="~/Content/vendor/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="~/Content/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/Content/vendor/jquery-placeholder/jquery-placeholder.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="~/Content/js/theme.js"></script>
    <!-- Theme Custom -->
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/mascaraValidacao.js"></script>
    <script src="~/Content/js/ajax-login.js"></script>
    <!-- Theme Initialization Files -->
    <script src="~/Content/js/theme.init.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());



        gtag('config', 'G-9NEFWXQYFC');
    </script>
</body>
</html>
