/* Add here all your CSS customizations */

.bg_azulCapa {
    background-color: #012746;
}


#busca_cadastro {
    margin-left: -30px;
    padding-top: 10px;
}

#cadas-cpf {
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.custom-icon {
	color: #01325a;
}

#login {
    background: url(../img/BG_SAN149.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

.primeiro-acesso img.mt-1{
	max-width: 520px;
	width: 100%;
}

#login .btn-dark{
	background-color: #01325a;
}

.bg-gray {
    background-color: #ccc;
}

.bg-sanofi {
    background-color: #01325a;
}

.bg-sanofi-amarelo {
    background-color: #bcba00
}

.bg-sanofi-azul {
	background-color: #485da1
}

.user-iteration-none {
    pointer-events: none;
	user-select: none
}

.va-middle {
    vertical-align: middle;
}

.new-height{
	height: 170px;
}

.regulamento ul {
    list-style-type: none;
}

#footer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

body{
	background-color: #01325a;
}

.card-body{
	border-top-left-radius: 0px!important;
}

.header-body{
	top: 0px!important; 
}

/* --- home --- */
	#header .header-nav-main nav > ul > li.open > a,
	#header .header-nav-main nav > ul > li:hover > a {
	    background: var(--danger);
	}
	.btn-gray{
		background-color: #ccc!important;
		color: #000!important;
	}

	.banners .d-lg-block{
		margin-top: -60px;
	}


@media screen and (max-width: 768px) {
	.banners .d-md-block{
		margin-top: -10px;
	}
	#header .header-nav-main:before{
		background-color: #212529;
	}

	.card-sign input{
		height: 40px;
		font-size: 16px; 
	}
	.card-sign input ::placeholder{
		font-size: 16px; 	
	}
	
	.primeiro-acesso img.mt-1{
		margin-top: -10px!important;
		max-width: 450px;
		width: 100%;
	}
	.body-sign .center-sign {
	    padding-top: 0px;
	}
	.card-sign .card-body{
		min-height: 260px!important;
	}
	.card-sign .card-body .text-5{
		padding-top: 3px!important;
		font-size: 17px!important;
		margin-bottom: 9px;
	}

	#footer {
	    position: relative; 
	}
}

@media screen and (max-width: 425px) {
	.body-sign{
		height: auto;
	}

	.header-logo img{
		max-width: 200px;
		top: 0px!important;
	}
	.banners .d-block{
		margin-top: -50px;
	}

	.primeiro-acesso .card-body{
		/*max-height: 170px!important;*/
	}
	.card-sign .card-body .text-5{
		padding-top: 5px!important;
		font-size: 15px!important;
		margin-bottom: 10px;
	}

	#footer {
	    position: relative; 
	}
}

@media screen and (max-width: 375px) {
	
}
